[submodule "readline"]
	path = readline
	url = git://git.savannah.gnu.org/readline.git
	fetchRecurseSubmodules = true
	ignore = all
[submodule "libffi"]
	path = libffi
	url = git://github.com/SaurikIT/libffi.git
	fetchRecurseSubmodules = true
	ignore = all
